<div class="container d-flex align-items-center hero-section mb-3">

    <!-- S:Hero Section -->
    <div class="container-fluid">
        <p class="space-mono-regular intro-small">Hi, my name is,</p>
        <h1 class="intro-display">
            Richmond Gyimah <br>
            <small class="text-muted intro-display-sub">I create simple and functional software.</small>
        </h1>
        <p class="intro-small w-50 intro-small-m">
            I'm a full stack web and mobile software developer currently based in Toronto.
            I'm seeking to leverage my technical expertise to serve as an integral
            part of a software development team.
        </p>
        <div class="d-grid gap-2 d-md-block">
            <button class="hero-btn space-mono-regular fw-bold me-3" (click)="jumpToProjects()">
                See projects
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-down-left-square" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm10.096 3.146a.5.5 0 1 1 .707.708L6.707 9.95h2.768a.5.5 0 1 1 0 1H5.5a.5.5 0 0 1-.5-.5V6.475a.5.5 0 1 1 1 0v2.768z"/>
                </svg>
            </button>
            <button class="hero-btn space-mono-regular fw-bold me-3 fw-bold me-3" (click)="viewResume()">
                View resume
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
                </svg>
            </button>
        </div>
        
    </div>
    <!-- E:Hero Section -->

</div>

<div class="container mb-5 py-5" id="about">
    <!-- S:About Me Section -->
    <div class="container-fluid">

        <p class="space-mono-regular intro-small me-2">About</p>
        <h1 class="intro-display mb-5">A little about me</h1>

        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="intro-small">
                    Hi, my name is Richmond Gyimah, I'm a software devloper based in Toronto.
                    I have a strong passion for sofware devlopment and I'm currently seeking 
                    to leverage my technical expertise to serve as an integral
                    part of a software development team.
                </p>
                <p class="intro-small">
                    I have worked on Android, iOS and Web applications that highlight my strong 
                    grasp on programming languages, mobile and web frameworks, databases, and web technologies. 
                    I have also worked as an Associate Software Engineer at Devnest Systems
                    where I demonstrated the ability to work very well with senior engineers.
                </p>
                <p class="intro-small">
                    My key takeaway is that I am adaptable, analytical, 
                    and capable of working in a fast paced and dynamic business environments.
                </p> 
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-center">
                <img src="assets/ab-me.jpeg" class="an-me-pic an-me-pic-m"/>
            </div>
        </div>   
    </div>
    <!-- E:About Me Section -->
</div>

<!-- S:Project Section -->
<div class="container mb-3 mt-5 py-5" id="projects">

    <p class="space-mono-regular intro-small me-2">Projects</p>
    <h1 class="intro-display mb-5">Somethings I've worked on</h1>

    <div class="container">
        <div class="grid">
          <div  *ngFor="let project of projectData;" class="g-col-12 g-col-sm-6 g-col-lg-4 project-card px-3 py-4 d-flex flex-column">
            <div class="pc-header d-flex align-items-center justify-content-between mb-4 pointer">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-folder2" viewBox="0 0 16 16">
                        <path d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v7a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 12.5zM2.5 3a.5.5 0 0 0-.5.5V6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3zM14 7H2v5.5a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 .5-.5z"/>
                    </svg>
                </div>
                <div>
                    <a [href]="project.ghLink" class="text-reset">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-github me-2" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                        </svg>
                    </a>
                    <a [href]="project.ghLink" class="text-reset">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="pc-body">
                <h4>{{project.title}}</h4>
                <p>{{project.description}}</p>
            </div>
            <div class="pc-footer mt-auto space-mono-regular">
                <span *ngFor="let stack of project.techStack;" class="me-2">{{stack}}</span>
            </div>
          </div>
          
          
        </div>
    </div>

</div>
<!-- E:Project Section -->

<!-- S: Contact Section -->
<div class="container mb-5 mt-5 py-5 d-flex flex-column align-items-center">
    <p class="space-mono-regular intro-small me-2">Contact</p>
    <h1 class="intro-display mb-3">Let's Talk</h1>
    <p class="intro-small text-center w-75 mb-3">
        I'm always open to discuss opportunities and projects that can help help improve your busines processes by building quality software products.
    </p>
    <a class="hero-btn-link text-decoration-none space-mono-regular fw-bold me-3"
        href="mailto:richmondgyimah5@gmail.com">
        Say Hello
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
        </svg>
    </a>
</div> 
<!-- E: Contact Section -->
