.hero-btn {
    padding: 8px 16px;
    border: 2px solid #000;
    box-shadow: 2px 2px 0 0 #EFEFEF, 4px 4px 0 0 #000;
    transition-duration: 200ms;
}

.hero-btn:hover {
    box-shadow: 3px 3px 0 0 #EFEFEF, 6px 6px 0 0 #000;
    transform: translate(-2px, 2px);
}